 *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.top{
     top: 0;
    position:static; 
    width: 100%;
    height:fit-content;
}
.tophcontainer{
    background-color:rgb(7, 54, 87);
    text-align: center;
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}
.toph{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}
.toph h1{
    color:#fff;
} 
.mubas{
    width: 150px;
    height: 150px;
    border-radius:50%;  
}
.picdescription ul{
padding: 10px;
margin-left: 10px;
margin-top: 0;
padding-top: 0;
list-style-type: square;
font-family: cursive;
}
.picdescription{
    margin-left: 10px;

}
.leftcontaniner{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,3fr));
    margin-left:5%;
    margin-right: -5%
} 
 ul{
    background:rgb(7, 54, 87);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
ul li{
 list-style: none;
 margin: 10px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    font-family:sans-serif;
    font-weight: bold;
    transition: .3s ease-in-out;
}
ul li a:hover,.developerbuton:hover{
    background-color:rgb(79, 84, 128);
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    
} 
.developer{
    overflow: hidden;
    text-align: center;
    padding: 10px; 
}
.developer p:nth-child(1),.developer p:nth-child(4){
    border-bottom: 2px solid #ccc;
} 
 .contact{
    padding:10px;
    width: fit-content;
    display: inline;
    overflow: hidden;
    transition: .7s ease;
}
.contact:hover{
    font-size: 20px;
    font-family:cursive;
}
.picdescript a{
text-decoration: none;
color: #fff;
background-color: green;
cursor: pointer;
padding: 5px;
border-radius: 10px;
margin: 5px;
overflow: hidden;
}
.picdescript a:hover{
font-family: cursive;
}
.picdescript .fa-whatsapp{
width: fit-content;
height:fit-content;
font-size: 20px;
color: #fff;

}
.developer img{
    width:100%;
    height:50%;
    margin: 0 auto;
    border-radius: 50%;    
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    padding: 20px;
    overflow: auto;
    background-color:#111;
    z-index: 1;
}
.popup:nth-child(3){
    background-color: #fff;
}
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.close {
    color: #000;
    float: right;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

.mubas{
    width: 150px;
    height: 150px;
    border-radius:50%;
    
}
.hambager-container{
    width: 40px;
    height: 39px;
    background-color:rgb(7, 54, 87);
    float: right;
    padding: 3px;
}
.hambager-container:hover{
    transition:0.3s ease-in;
    background-color: rgb(3, 19, 19);
    border-radius: 25px;
    cursor: pointer;
}
.hambager{
    margin-top: 5px;
    width: 30px;
    height: 20px;
    display:flex;
    justify-content: space-between; 
    flex-direction:column;
    cursor: pointer;
    float:right;
    
}
.hambager .hambager-bar{
     transition:transform 0.3s; 
    background-color: silver;
    height: 2px;
     width:100%; 
}
.hambager.active .hambager-bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hambager.active .hambager-bar:nth-child(2){
    opacity: 0;
}
.hambager.active .hambager-bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.menu{
    background-color:rgb(7, 54, 87);
    width:200px;
    overflow: hidden;
    height:150px;  
    float: right; 
    position: absolute;
    top:25%;
    right:0;
    display: none;
    
}
.menu ul{
    display:none;
    margin-top: 5px;
}
.menu.active{
    display:block;
}
.menu.active ul{
    display: block;
    background-color:rgb(7, 54, 87);
}
 .menu a, .fa-comment{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
 .about{
    background-color: rgb(7, 54, 87);
    border: rgb(7, 54, 87);
    padding-left: 5px;
    height: fit-content;
     overflow: hidden;
    color:whitesmoke;
    cursor: pointer;
    font-weight: bold;
     transition:0.6s ease-out;
}
 .about:hover{
    font-size: 20px;
    background-color:rgb(79, 84, 128);
    border-radius: 10px;
    margin-bottom: 5px;
}  
.w3top{
   border: 1px solid #ccc;
   height: fit-content;
}
 .module{
    margin:10px;
    width:300px; 
    height: 300px;
    text-align: center;

    box-shadow: 3px 3px 6px rgb(9, 84, 128);
    border-radius: 10px;
}
.module img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.module a{
    text-decoration: none;
    cursor: pointer;
}  
button{
    background-color: rgb(7, 54, 87);
    height: 30px;
    border: none;
    color:#fff;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease-in-out;
    border-radius: 5pc;
}
button:hover{

    background-color:rgb(9, 84, 128);;
} 
.moduledownload{
    margin: 10px;
    padding: 10px;
    display:none;
    background-color: #ddd;
}
.downloadbutton{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#444;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 40px;
    display: block;
    width: fit-content;
     overflow: hidden; 
    
} 
.downloadbutton:hover{
    background-color: #ccc;
    color: #000;
}
a.downloadbutton{
    text-decoration: none;
    color:#fff;
    margin-bottom: 10px;
}

.Lecturespictures{
   width:100%;
    overflow: hidden;
    
}
.rightcolumncontent{
    display: flex;
    flex-grow: 1;
    height: auto;
    width: 100%;
}
#details{
    display: none;
}
footer{
    background-color:rgb(7, 54, 87);
    color: #fff;
    width: 100%; 
    height: fit-content;
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    text-align: center;   
    margin-top: 0;
}
footer p{
    display:inline-block;
    margin-top: 0;
}
footer p a{
    text-decoration: none;
    color: #fff;
}
 @media screen and (max-width:701px){
    
.leftcontaniner{
    display:grid;
    grid-template-columns:repeat(2,1fr);
   
} 

.module{
    margin:10px;
    width:200px; 
    height: 300px;
    text-align: center;
    box-shadow: 3px 3px 6px rgb(9, 84, 128);
    border-radius: 10px;
}
    .top-h1{
        width: 100%;
    font-size: 18px;
    overflow: hidden;
    }
    .mubas{
        width: 100px;
        height: 100px;
        border-radius:50%; 
     }
    .right-column{
        margin-top:0;
    }
    .card{
        width: 100%;
        margin-top: 0px;
    }
    .card:first-child{
        margin-top: 0;
    }
    .w3top{
        height:500px;
    }
    .PHI{
        width: 100%;
    }
    .popup-content{
        width: 100%;
    }

} 

 @media screen and (min-width:767px)
{
.w3top{
    height: 950px;
}

}
