*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}
.oj{
    background-color: rgb(7, 54, 87);
}
.mubaslogo{
margin-left:45%;
}
.top-h1{
    padding: 10px;
}
nav{
    position:sticky;
    top: 0;
     width: 100%;
     
}
.box{
    height: 25px;
    margin-top: 5px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background:#fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    
}
.box:hover input{
width:70px;

margin:0 ;
}
.box input{
    width:0;
    outline: none;
    border: none;
    color: #000;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
   
}

.tophcontainer{
    background-color:rgb(7, 54, 87);
    text-align: center;
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}
.toph{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.top-h1{
    background:rgb(7, 54, 87);
    text-align: center;
    color: #fff;
    padding: 10px;
}

ul{
    background:rgb(7, 54, 87);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
ul li{
 list-style: none;
 margin: 10px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    font-family:sans-serif;
    font-weight: bold;
    transition: .3s ease-in-out;
}
ul li a:hover,button:hover{
    background-color:rgb(79, 84, 128);
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    
}
.developer{
     width: 300px;
    height: 400px; 
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.developer p:nth-child(1),.developer p:nth-child(4){
    border-bottom: 2px solid #ccc;
}
.contact{
    margin: 10px;
    transition: .7s ease;
}
.contact:hover{
    font-size: 20px;
    font-family:cursive;
}
.picdescript a{
text-decoration: none;
color: #fff;
background-color: green;
padding: 5px;
border-radius: 10px;
margin: 5px;
overflow: hidden;
}
.picdescript a:hover{
font-family: cursive;
}
.picdescript .fa-whatsapp{
width: fit-content;
height:fit-content;
font-size: 20px;
color: #fff;

}
.developer img{
    width:100%;
    height:50%;
    margin: 0 auto;
    border-radius: 50%;   
}
button{
    background-color: rgb(7, 54, 87);
    color: #fff;
    border:1px solid rgb(7, 54, 87);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition:.3s ease-in-out;
    padding: 2px;  
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #444;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mubas{
    width: 150px;
    height: 150px;
    border-radius:50%; 
}
.hambager-container{
    width: 40px;
    height: 39px;
    background-color:rgb(7, 54, 87);
    float: right;
    padding: 3px;
}
.hambager-container:hover{
    transition:0.3s ease-in;
    background-color:rgb(79, 84, 128);
    cursor: pointer;
}
.hambager{
    margin-top: 5px;
    width: 30px;
    height: 20px;
    display:flex;
    justify-content: space-between; 
    flex-direction:column;
    cursor: pointer;
    float:right;
    
}
.hambager .hambager-bar{
     transition:transform 0.3s; 
    background-color: silver;
    height: 2px;
     width:100%; 
}
.hambager.active .hambager-bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hambager.active .hambager-bar:nth-child(2){
    opacity: 0;
}
.hambager.active .hambager-bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.menu{
    background-color:rgb(7, 54, 87);
    width:200px;
    overflow: hidden;
    height:50%;   
    display:block;
    float: right;
    
}
.menu ul{
    display:none; 
    margin-top: 30px;
    padding:10px;
    
}
.about{
    font-weight: bold;
    transition: .7s ease;
    padding: 5px;
}
.about:hover{
    background-color:rgb(79, 84, 128);
    border-radius: 20px;
}
.menu.active ul{
    display: block; 

}
 .menu a, .fa-comment{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.popup-container {
    display: none;
     position: fixed;
    left: 0;
    top:0; 
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.w3top{
   border: 1px solid #ccc;
   height: fit-content;
}
.picdescription ul{
padding: 10px;
margin-left: 10px;
margin-top: 0;
padding-top: 0;
list-style-type: square;
font-family: cursive;
}
.picdescription{
    margin-left: 10px;

}
.firstyearpic{
    border: 2px solid #000;
}
.firstyearpic img{
width: 20%;
height:auto;

}
#no a{
    background-color: #444;
    overflow: hidden;
    
}
.fa-briefcase,.fa-envelope,.fa-phone,.fa-suitcase,.fa-calendar,.fa-certificate,.fa-map-marker{
    color:rgb(7, 54, 87);
    font-size: 30px;
}

#home{
    display: none;
    color: #fff;
    z-index: 1;
    background-color:#444;
    margin-top: 5px;
    width:fit-content;
    position: absolute;

}
.fa-home{
    overflow: hidden;
    
}
.fa-home:hover #home{
    display:block;
    overflow: hidden;
    
} 
img{
    width:100%;
    height:50%;
}
#Current{
    background-color:rgb(7, 54, 87);
    font-size: 15px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

h3 a{
    text-decoration: none;
    color: #000;
}
.left-container{
    
    padding: 10px;
    width:35%;
    box-shadow:4px 3px  8px #444;
    float: left;
    background-color: #fff;
    margin-bottom: 10px;
}

.card{
    margin-bottom: 15px;
    padding: 10px;
    float: right;
    display: block;
    width: 63%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #444;
}

.card p:nth-child(4),:nth-child(7){
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.adobe2{
    background-color:rgb(7, 54, 87);
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width: 80%;
}
.adobe1{
    background-color: #ddd;
    width: 90%;
    border-radius: 25px;

}
.photo2{
    background-color:rgb(7, 54, 87);
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width:70%;
}
.photo1{
    background-color: #ddd;
    width: 90%;
    border-radius: 25px;

}
.design2{
    background-color:rgb(7, 54, 87);
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width:50%;
}
.design1{
    background-color: #ddd;
    width: 90%;
    border-radius: 25px;

}
.eng2{
    background-color:rgb(7, 54, 87);
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width:90%;
}
.eng1{
    background-color: #ddd;
    width: 90%;
    border-radius: 25px;

}
.chi2{
    background-color:rgb(7, 54, 87);
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width:70%;
}
.chi1{
    background-color: #ddd;
    width: 90%;
    border-radius: 25px;
}
.fre2{
    background-color:rgb(7, 54, 87);
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    width:25%;
}
.fre1{
    background-color: #ddd;
    width: 90%;
    border-radius: 25px;

}

.fa-facebook{
    color:blue;
    font-size: 30px;
}
.fa-whatsapp{
    color: lightgreen;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.fa-instagram{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color:orangered; 
}
.fa-whatsapp:hover{
    color:greenyellow;
    cursor: pointer;
}
.fa-facebook:hover{
    color: dodgerblue;
    cursor: pointer;
}
.fa-instagram:hover{
    color: lightsalmon;
    cursor: pointer;
}
footer{
    background-color:rgb(7, 54, 87);
    color: #fff;
    width: 100%; 
    height: fit-content;
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    text-align: center;   
}
footer p{
    display:inline-block;
    margin-top: 0;
}
footer p a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:766px){
    .mubas{
        width: 90px;
        height: 90px;
        border-radius:50%; 
     }
     
     .top-h1{
        width: 100%;
        font-size: 18px;
        overflow: hidden;
    }
    
    .left-container{
        width: 100%;
        padding: 10px;
        margin-bottom: 0;
    }
    .right-column{
        margin-top:0;
    }
    .card{
        width: 100%;
        margin-top: 0px;
    }
    .card:first-child{
        margin-top: 0;
    }
    .w3top{
        height:500px;
    }
    .suit-heading{
        font-size: 20px;
    }
}
@media screen and (min-width:767px)
{
.w3top{
    height: 950px;
}

}
